.container {
    padding-top: 3px; 
    padding-left: 2px;
    border-bottom: 1px solid #777;
    display: block;
    position: relative;
    margin-bottom: 3%;


}
    
    .container span{
       margin-left: .5%;
       color:white;
       font-size: 160%;
       position: relative;
       margin-bottom: 3%;
       vertical-align: top;
    
    }
    
    .container img{
    height: 30px;
    padding-bottom: -4;
    vertical-align: top;
    position: relative;
    object-position: -3px 10px;
    }